<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Mac配置 -->
    <!--<property name="log.path" value="/Users/saliai/IdeaProjects/logs"/>-->

    <!-- 开发环境 -->
    <property name="log.path" value="/usr/local/jar/logs"/>

    <!-- 生产环境 -->
    <!--<property name="log.path" value="/Users/saliai/IdeaProjects/logs"/>-->

    <!-- 控制台打印日志的相关配置 -->
    <!-- %m 输出的信息,%p 日志级别,%t 线程名,%d 日期,%c 类的全名 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 日志格式 -->
        <encoder>
            <!--格式化输出：%d:表示日期    %thread:表示线程名     %-5level:级别从左显示5个字符宽度  %msg:日志消息    %n:是换行符-->
            <pattern>%red(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %highlight(%-5level) %boldMagenta(%logger) - %cyan(%msg%n)</pattern>
        </encoder>
        <!-- 日志级别过滤器 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 过滤的级别 -->
            <level>INFO</level>
            <!-- 匹配时的操作：接收（记录） -->
            <onMatch>ACCEPT</onMatch>
            <!-- 不匹配时的操作：拒绝（不记录）
            <onMismatch>DENY</onMismatch> -->
        </filter>
    </appender>

    <!-- 日志文件保存日志的相关配置 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 保存日志文件的路径
        <file>D:/logs/PaymentService_info.log</file> -->
        <!-- 保存日志文件的路径 -->
        <file>${log.path}/wechat.log</file>
        <!-- 日志格式 -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%class:%line] - %msg%n</pattern>
        </encoder>
        <!-- 日志级别过滤器 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 过滤的级别 -->
            <level>INFO</level>
            <!-- 匹配时的操作：接收（记录） -->
            <onMatch>ACCEPT</onMatch>
            <!-- 不匹配时的操作：拒绝（不记录）
            <onMismatch>DENY</onMismatch> -->
        </filter>
        <!-- 循环政策：基于时间创建日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件名格式 -->
            <fileNamePattern>${log.path}/wechat.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 最大保存时间：30天-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 打印sql日志 -->
    <logger name="com.saliai.wechat.repository" level="DEBUG"></logger>

    <!-- 基于dubug处理日志：具体控制台或者文件对日志级别的处理还要看所在appender配置的filter，如果没有配置filter，则使用root配置 -->
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>